/*-----------------------HOME------------------------*/
#anemia_home {
  height: 750px;
  padding-top: 50px;
  background-color: #000000;
}
.pdf1 embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pdf2 embed{
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.pdf3 embed{
  display: none;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 910px) {
  #anemia_home {
    padding-top: 35px;
  }
  .pdf1 embed{
    display: none;
  }
  .pdf2 embed{
    display: block;
  }
}
@media screen and (max-width: 500px) {
  #anemia_home {
    padding-top: 15px;
  }
  .pdf2 embed{
    display: none;
  }
  .pdf3 embed{
    display: block;
  }
}
