*{
 margin: 0;
 padding: 0;
}
body{
 font-family: Helvetica;
 background-color: #000000;
}
a:link,
a:visited{
 text-decoration: none;
}


/*----------------------NAVBAR------------------------*/
nav {
  position: fixed;
  width:100%;
  height: 65px;
  border-bottom: 6px solid #E62B1E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background: #000000;
  z-index: 2;
}
.logo img {
  position: fixed;
  padding-top: 12px;
  padding-left: 20px;
}
nav ul {
  text-align: right;
  list-style: none;
  padding-top: 2px;
  padding-right: 20px;
}
nav li {
  display: inline-block;
  position: relative;
  padding: 10px;
}
nav li:last-child(){
  padding-right: 0;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
}
li::before{
  content:'';
  display: block;
  height: 2px;
  width: 100%;
  background-color: #E62B1E;
  position:static;
  width: 0%;
  transition: all ease-in-out 250ms;
  margin-top: 10px;
}
li:hover::before{
  width: 100%;
}
}
nav .line {
  width: 500px;
  height: 4px;
  color: #E62B1E;
  background-color: #E62B1E;
}
.nav_2 {
  color: #E62B1E;
  text-align: right;
  height: 70px;
  line-height: 70px;
  display: none;
}
.nav_2 label:hover {
  color: #ffffff;
}
.menu {
  margin: 0 30px 0 0;
}
.menu a {
  width: 100%
  color: #ffffff;
  text-align: right;
  font-size: 1em;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 20px;
  transition: 0.3s;
}
.menu a:hover {
  color: #E62B1E;
}
label {
  margin: 0 20px 0 0;
  font-size: 2em;
  line-height: 70px;
}
#toggle {
  display: none;

}
@media screen and (max-width: 840px) {
  .nav_1 {
    display: none;
  }
  .logo img {
    padding-left: 10px;
  }
  .nav_2 {
    display: block;
  }
  .label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
    border-bottom: 6px solid #E62B1E;
  }
  .menu a {
    display: block;
    background-color: #000000;
    border-bottom: 1px solid grey;
  }
  #toggle {
  }
  #toggle:checked + .menu {
    display: block;
  }
}


/*--------------------------HOME---------------------*/
#home_oradores {
  height: 800px;
  background-image: url('../img/bckgted.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#home_oradores h3{
  color: #ffffff;
  text-align: center;
  padding-top: 140px;
  font-size: 3em;
}
#home_oradores h3::after{
  content:'';
  display: flex;
  height: 3px;
  text-align: center;
  width: 100%;
  background-color: #E62B1E;
  margin-top: 5px;
}
.info {
  padding-top: 60px;
  color: #7C7C7C;
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
}


/*--------------------------ORADORES---------------------*/

#oradores_list {
  height: 1100px;
}
.container_oradores {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.nome {
  margin-top: -20px;
  color: #ffffff;
}
.container_oradores h2{
  padding-top: 20px;
  color: #ffffff;
}
.description {
  color: #E62B1E;
  padding-top: 10px;
}
.container_oradores a {
  color: #E62B1E;
}
.container_oradores p {
   font-weight: lighter;
}
/*--------------------------ORADOREES_MOBILE---------------------*/
@media screen and (max-width: 840px) {
  #oradores_list {
    height: 3000px;
  }
  .container_oradores {
    display:block;
    font-size: 12px;
  }

}


/*--------------------------ORADOR_1---------------------*/
.orador_1{
 background-color: #000000;
 width:100%;
 height: 100vh;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 10;
 opacity: 0;
 visibility: hidden;
 margin-top: 800px;
 transition: all .5s;
}
.orador_1content{
 width: 75%;
 height: 500px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 2em;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
}
#orador_1:target{
 opacity: 1;
 visibility: visible;
}
#orador_1:target .orador_1content{
 opacity: 1;
 visibility: visible;
}
.orador_1close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_1heading{
 margin-bottom: 1em;
}
.orador_1paragraph{
 line-height: 1.5em;
 color: #ffffff;
}
.orador_1open{
display: inline-block;
margin: 2em;
}



/*--------------------------ORADOR_2---------------------*/
.orador_2{
 background-color: #000000;
 width:100%;
 height: 150vh;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 10;
 opacity: 0;
 visibility: hidden;
 margin-top: 800px;
 transition: all .5s;
}
.orador_2content{
  background-color: #000000;
 width: 75%;
 height: 500px;
 position: absolute;
 top: 50%;
 margin-top: -200px;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 2em;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
}
#orador_2:target{
opacity: 1;
visibility: visible;
}
#orador_2:target .orador_2content{
opacity: 1;
visibility: visible;
}
.orador_2close{
color: #363636;
font-size: 2em;
position: absolute;
top: .5em;
right: 1em;
}
.orador_2heading{
color: dodgerblue;
margin-bottom: 1em;
}
.orador_2paragraph{
line-height: 1.5em;
color: #ffffff;
}
.orador_2open{
display: inline-block;
margin: 2em;
}



/*--------------------------ORADOR_3---------------------*/
.orador_3{
 background-color: rgba(0,0,0);
 width:100%;
 height: 100vh;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 10;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
 margin-top: 800px;
 color: #ffffff;
}
.orador_3content{
 width: 75%;
 height: 100%;
 margin-top: 100px;
 background-color: #000000;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 2em;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
}
#orador_3:target{
 opacity: 1;
 visibility: visible;
}
#orador_3:target .orador_3content{
 opacity: 1;
 visibility: visible;
}
.orador_3close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_3heading{
 color: dodgerblue;
 margin-bottom: 1em;
}
.orador_3paragraph{
 line-height: 1.5em;
}
.orador_3open{
display: inline-block;
margin: 2em;
}


/*--------------------------ORADOR_4---------------------*/
.orador_4{
 background-color: #000000;
 width:100%;
 height: 150vh;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 10;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
 margin-top: 800px;
 padding-top: 100px;
 color: #ffffffff;
}
.orador_4content{
 width: 75%;
 height: 65%;
 background-color: #000000;
 position: absolute;
  margin-top: -100px;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 2em;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
}
#orador_4:target{
 opacity: 1;
 visibility: visible;
}
#orador_4:target .orador_4content{
 opacity: 1;
 visibility: visible;
}
.orador_4close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_4heading{
 color: dodgerblue;
 margin-bottom: 1em;
}
.orador_4paragraph{
 line-height: 1.5em;
}
.orador_4open{
display: inline-block;
margin: 2em;
}


/*--------------------------ORADOR_5---------------------*/
.orador_5{
 background-color: rgba(0,0,0);
 width:100%;
 height: 150vh;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 10;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
 margin-top: 800px;
 padding-top: 100px;
 color: #ffffffff;
}
.orador_5content{
 width: 75%;
 height: 65%;
 background-color: #000000;
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -150px;
 transform: translate(-50%, -50%);
 padding: 2em;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
}
#orador_5:target{
 opacity: 1;
 visibility: visible;
}
#orador_5:target .orador_5content{
 opacity: 1;
 visibility: visible;
}
.orador_5close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_5heading{
 color: dodgerblue;
 margin-bottom: 1em;
}
.orador_5paragraph{
 line-height: 1.5em;
}
.orador_5open{
display: inline-block;
margin: 2em;
}




/*--------------------------ORADOR_6---------------------*/
.orador_6open{
display: inline-block;
margin: 2em;
}

/*--------------------------ORADOR_7---------------------*/
.orador_7open{
display: inline-block;
margin: 2em;
}


/*--------------------------ORADOR_8---------------------*/
.orador_8open{
display: inline-block;
margin: 2em;
}

/*--------------------------ORADOR_9---------------------*/
.orador_9open{
display: inline-block;
margin: 2em;
}





/*--------------------------PERFORMANCES---------------------*/
#performances {
  height: 700px;
  background-image: url('../img/adbckg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#performances h3{
  color: #000000;
  text-align: center;
  padding-top: 60px;
  font-size: 3em;
}
#performances h3::after{
  content:'';
  display: flex;
  height: 3px;
  text-align: center;
  width: 100%;
  background-color: #E62B1E;
  margin-top: 5px;
}
/*-------------------------------------------*/
a:link,
a:visited{
 text-decoration: none;
}
.modal{
 background-color: rgba(0,0,0, .8);
 width:100%;
 height: 100vh;
 position: absolute;
 text-align: center;
 top: 1900px;
 left: 0;
 z-index: 10;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
}
.modal__content{
 width: 75%;
 height: 65%;
 background-color: transparent;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 2em;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
}
#modal:target{
 opacity: 1;
 visibility: visible;
}
#modal:target .modal__content{
 opacity: 1;
 visibility: visible;
}
.modal__close{
 color: #E62B1E;
 font-size: 2em;
 position: absolute;
 top: 5em;
 right: 5em;
}
.modal__paragraph{
  color: #ffffff;
  padding-top: 250px;
 line-height: 1.5em;
}
.modal-open {
color: #E62B1E;
}
.modal-open p{
  text-align: center;
  padding-top: 5px;
}
.perf_container h1 {
  font-size: 2em;
  color: #ffffff;
  padding-top: 400px;
}
@media screen and (max-width: 840px) {
  .modal{
    top: 3800px;
  }
  .modal__close{
    top: 1em;
  }
  .modal__paragraph {
    padding-top: 80px;
  }
}


/*-----------------------FOOTER------------------------*/
#footer {
  background-color: #000000;
  height: 180px;
  border-top: 6px solid #E62B1E;
}
.container_contact {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: lighter;
  color: #ffffff;
}
.left {
  padding: 32px 0px 0px 180px;
}
.right {
  padding: 32px 180px 0px 0px;
}
.right p {
  padding-top: 60px;
}
.right img{
  float: right;
}
.container_credit {
  font-size: 10px;
  font-weight: lighter;
  color: #ffffff;
  padding-left: 180px;
  padding-top: 10px;
  padding-right: 180px;
}
.container_credit p {
  text-align: right;
  width: 100%;
  border-top: 1px solid #FFFFFF;
  padding-top: 5px;
}
.contact_mobile {
  display: none;
  justify-content: space-around;
  padding: 40px 20px 0 20px;
}
.contact_mobile p {
  font-size: 12px;
  font-weight: lighter;
  padding: 20px 50px 0 50px;
  color: #ffffff;
}
@media screen and (max-width: 840px) {
  .left {
    padding: 30px 0px 0px 30px;
  }
  .right {
    padding: 30px 30px 0px 0px;
  }
  .right p{
    padding-left: 80px;
  }
  .container_credit {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 600px) {
  .contact_mobile {
    display: flex;
  }
  .container_contact {
    display: none;
  }
  .container_credit {
    padding-left: 20px;
    padding-right: 20px;
  }
  .right img {
    padding-right: 60px;
  }
}
