{% extends "base.html" %}

{% block content %}
<header id="anemia_home">
  <div class="pdf1">
  <object data="{{url_for('static', filename='img/ANEMIA_TEDxUC.pdf')}}#toolbar=0&navpanes=0&scrollbar=0&zoom=60" width="100%" height="100%"></object>
  </div>
  <div class="pdf2">
  <object data="{{url_for('static', filename='img/ANEMIA_TEDxUC.pdf')}}#toolbar=0&navpanes=0&scrollbar=0&zoom=30" width="100%" height="100%"></object>
  </div>
  <div class="mobile">
    <div class="logo_anemia">
      <img src="{{url_for('static', filename='img/anemia_.png')}}" width="200">
    </div>
    <div class="download_btn">
      <a href="{{url_for('static', filename='img/ANEMIA_TEDxUC.pdf')}}" download>Transferir</a>
    </div>
  </div>
</header>


{% endblock %}
