<html class="{{ page }}"lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>TEDx Coimbra</title>
      {% endif %}

      {% if page == 'home'%}
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endif %}
      <meta property="og:image" content="{{url_for('static', filename='img/background.jpg')}}">
      <link rel="icon" type="image/x-icon"href="{{url_for('static', filename='img/favicon.ico')}}">

      {% if page == "tedtedx" %}
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='css/tedtedx.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <div class="line"></div>
      {% endif %}

      {% if page == "oradores" %}
      <link rel="stylesheet" href="{{url_for('static', filename='css/oradores.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      {% endif %}

      {% if page == "programa"%}
      <link rel="stylesheet" href="{{url_for('static', filename='css/programa.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endif %}

      {% if page == "parceiros" %}
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='css/parceiros.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endif %}

      {% if page == "equipa" %}
      <link rel="stylesheet" href="{{url_for('static', filename='css/equipa.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endif %}

      {% if page == "bilhetes"%}
      <link rel="stylesheet" href="{{url_for('static', filename='css/bilhetes.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endif %}

      {% if page == "anemia" %}
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='css/anemia.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endif %}

      {% if page == "errors" %}
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='css/errors.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endif %}

    </head>
    <body>
      <nav>
        <div class='nav'>
          <div class='logo'>
            <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='img/uclogo.png')}}"
               width="186" height="42"></a>
          </div>
          <ul class="nav_1">
            <li><a href="{{url_for('index')}}">HOME</a></li>
            <li><a href="{{url_for('tedx')}}">TED & TEDx</a></li>
            <li><a href="{{url_for('vieworators')}}">ORADORES</a></li>
            <li><a href="{{url_for('program')}}">PROGRAMA</a></li>
            <li><a href="{{url_for('partners')}}">PARCEIROS</a></li>
            <li><a href="{{url_for('team')}}">EQUIPA</a></li>
            <li><a href="{{url_for('tickets')}}">BILHETES</a></li>
            <li><a href="{{url_for('anemia')}}">ANEMIA</a></li>
          </ul>
          <div class="nav_2">
            <label for="toggle">&#9776;</label>
            <input type="checkbox" id="toggle"/>
            <div class="menu">
              <a href="{{url_for('index')}}">HOME</a>
              <a href="{{url_for('tedx')}}">TED & TEDx</a>
              <a href="{{url_for('vieworators')}}">ORADORES</a>
              <a href="{{url_for('program')}}">PROGRAMA</a>
              <a href="{{url_for('partners')}}">PARCEIROS</a>
              <a href="{{url_for('team')}}">EQUIPA</a>
              <a href="{{url_for('tickets')}}">BILHETES</a>
              <a href="{{url_for('anemia')}}">ANEMIA</a>
            </div>
          </div>
        </div>
      </nav>
      <!-- DELETE -->
      <div>
        <a href="{{url_for('index')}}">Homepage</a>
        <a href="{{url_for('tedx')}}">TED & TEDx</a>
        <a href="{{url_for('vieworators')}}">Oradores & Performances</a>
        <a href="{{url_for('program')}}">Programa</a>
        <a href="{{url_for('partners')}}">Parceiros</a>
        <a href="{{url_for('team')}}">Comissão Organizadora</a>
        <a href="{{url_for('tickets')}}">Bilhetes</a>
        <a href="{{url_for('anemia')}}">Anemia</a>
        <!-- {% if not current_user.is_anonymous %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %} -->
      </div>
      <hr>

      {% block content %}{% endblock %}

      <section id="footer">
        <div class="container_contact">
          <div class="left">
            <div class="social">
              <a href="https://www.facebook.com/tedxuniversidadedecoimbra/"><img src="{{url_for('static', filename='img/fb.png')}}" height="30"></a>
              <a href=""><img src="{{url_for('static', filename='img/fk.png')}}" height="30"></a>
              <a href="https://www.instagram.com/tedxuniversidadedecoimbra/"><img src="{{url_for('static', filename='img/ig.png')}}" height="30"></a>
              <a href="mailto:tedxuniversidadedecoimbra@nemaac.net"><img src="{{url_for('static', filename='img/ml.png')}}" height="30"></a>
            </div>
            <p>Pólo das Ciências da Saúde da Universidade de Coimbra<br>Unidade Central, Piso -1<br>Azinhaga de Santa Comba, Celas<br>3000-548 Coimbra</p>
          </div>
          <div class="right">
              <img src="{{url_for('static', filename='img/qrcode.png')}}" width="50">
            <p>This independent TEDx event is operated under license from TED.</p>
          </div>
        </div>

        <div class="contact_mobile">
          <div class="leftM">
            <div class="social">
              <a href="https://www.facebook.com/tedxuniversidadedecoimbra/"><img src="{{url_for('static', filename='img/fb.png')}}" height="25"></a>
              <a href=""><img src="{{url_for('static', filename='img/fk.png')}}" height="25"></a>
              <a href="https://www.instagram.com/tedxuniversidadedecoimbra/"><img src="{{url_for('static', filename='img/ig.png')}}" height="25"></a>
              <a href="mailto:tedxuniversidadedecoimbra@nemaac.net"><img src="{{url_for('static', filename='img/ml.png')}}" height="25"></a>
            </div>
          </div>
          <div class="midM">
            <p>This independent TEDx event is operated under license from TED.</p>
          </div>
          <div class="rightM">
            <img src="{{url_for('static', filename='img/qrcode.png')}}" width="50">
          </div>
        </div>

        <div class="container_credit">
          <p>© jeKnowledge 2019. ALL RIGHTS RESERVED</p>
        </div>
      </section>
    </body>
</html>
