<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>TedX Coimbra</title>
      {% endif %}
    </head>
    <body>
      <div>
        <a href="{{url_for('index')}}">Homepage</a>
        <a href="{{url_for('tedx')}}">TED & TEDx</a>
        <a href="{{url_for('vieworators')}}">Oradores & Performances</a>
        <a href="{{url_for('program')}}">Programa</a>
        <a href="{{url_for('partners')}}">Parceiros</a>
        <a href="{{url_for('team')}}">Comissão Organizadora</a>
        <a href="{{url_for('tickets')}}">Bilhetes</a>
        {% if not current_user.is_anonymous %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}

      <footer>
        <hr>
        <p>This is the footer</p>
        <a href="#">Facebook</a>
        <p>
          Email: tedxuniversidadedecoimbra@nemaac.net <br>
          Morada: <br>
          Pólo das Ciências da Saúde da Universidade de Coimbra <br>
          Unidade Central, Piso -1 <br>
          Azinhaga de Santa Comba, Celas <br>
          3000-548 Coimbra <br>
          "This independent TEDx event is operated under license from TED."
        </p>
      </footer>
    </body>
</html>
