{% extends "base.html" %}

{% block content %}

<header id="home">
  <div class="intro">
    <ul>
      <p class="dia">13.04</p>
      <p class="ano">2019</p>
      <p class="coimbra">Coimbra</p>
    </ul>
    <!-- <div class="start-btn">
      <a href="#get-started">Inscreve-te!</a>
    </div> -->
  </div>
  <div class="inconformismo_grande">
    <img src="{{url_for('static', filename='img/inconformismo.png')}}" width="677" height="367">
  </div>
  <div class="inconformismo_medio">
    <img src="{{url_for('static', filename='img/inconformismo.png')}}" width="507,75" height="275,25">
  </div>
  <div class="inconformismo_pequeno">
    <img src="{{url_for('static', filename='img/inconformismo.png')}}" width="259" height="140">
  </div>
</header>

<section id="about">
<div class="text">
  <h3 class="fir"style="font-size:28px; color:#E62B1E; font-weight:bold">
    TEDx<span style="color:#FFFFFF ">UniversidadedeCoimbra</span></h3>
  <h3 class="sec"style="font-size:16px; color:#E62B1E; font-weight:bold">
    TEDx<span style="color:#FFFFFF ">UniversidadedeCoimbra</span></h3>
  <p>Coimbra, cidade dos estudantes, do Mondego e da cultura. Estudantes que fazem história. Mondego que se renova. Cultura que não dorme.</p>
  <p>Coimbra respira, sente e luta. Tem dentro de si a mudança e os estudantes que a alimentam. Só estuda em Coimbra quem tem vontade de fazer mais, quem não se conforma com o estabelecido, quem luta e reivindica os seus direitos, quem nasce com o inconformismo a correr nas veias.</p>
  <p>É este o antídoto para a mudança, o motor para a denúncia das injustiças, o oxigénio para a vida dos estudantes.
Não é por pouco que nos diferenciamos há mais de 100 anos. Que somos conhecidos pela nossa luta e forma de questionar o inquestionável. Que esperam de nós o melhor da diferença. E é isso que entregamos.
Aliamos os valores da clássica Universidade de Coimbra com as engrenagens das mudanças do seculo XXI, espelhadas num evento cheio de ideias que merecem ser partilhadas!
Inconformismo é palavra de ordem e o tema do primeiro TEDxUniversidadedeCoimbra, de estudantes para ti.</p>
</div>
</section>

<section id="news">
  <div class="container_news" >

    <div class="new">
      <div class="news_text">
        <p>Os bilhetes começam a ser vendidos dia 25 deste mês!</p>
      </div>
      <img class="mySlides" src="{{url_for('static', filename='img/new1.jpg')}}" style="width:100%">
    </div>

    <div class="new">
      <div class="news_text">
        <p>O Conservatório de Música de Coimbra vai acolher todas as Talks e Performances!</p>
      </div>
      <img class="mySlides" src="{{url_for('static', filename='img/new2.jpg')}}" style="width:100%">
    </div>

    <div class="new">
      <div class="news_text">
        <p>Salvador Sobral é o mais recente orador a ser confirmado, não percas!</p>
      </div>
      <img class="mySlides" src="{{url_for('static', filename='img/new3.jpg')}}" style="width:100%">
    </div>
  </div>


  <script>
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("new");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 5000); // Change image every 2 seconds
  }
  </script>
</section>

{% endblock %}
