{% extends "base.html" %}

{% block content %}
  <h1>Homepage</h1>
  <img src="#" alt="Imagem em grande com logo oficial">
  <h2>Tema e Data</h2>
  <h3>Possivelmente uma countdown. E video</h3>
  <p>TEDxUniversidadedeCoimbra<br>
    Coimbra, cidade dos estudantes, do Mondego e da cultura. Estudantes que
    fazem história. Mondego que se renova. Cultura que não dorme.<br>
    Coimbra respira, sente e luta. Tem dentro de si a mudança e os estudantes
    que a alimentam. Só estuda em Coimbra quem tem vontade de fazer mais, quem
    não se conforma com o estabelecido, quem luta e reivindica os seus direitos,
    quem nasce com o inconformismo a correr nas veias.<br>
    É este o antídoto para a mudança, o motor para a denúncia das injustiças,
    o oxigénio para a vida dos estudantes.<br>
    Não é por pouco que nos diferenciamos há mais de 100 anos. Que somos
    conhecidos pela nossa luta e forma de questionar o inquestionável. Que
    esperam de nós o melhor da diferença. E é isso que entregamos.<br>
    Aliamos os valores da clássica Universidade de Coimbra com as engrenagens
    das mudanças do seculo XXI, espelhadas num evento cheio de ideias que
    merecem ser partilhadas! <br>
    Inconformismo é palavra de ordem e o tema do primeiro
    TEDxUniversidadedeCoimbra, de estudantes para ti.</p>

  <h2>Icone para comprar bilhete (link para o tickets?)</h2>
  
{% endblock %}
