{% extends "base.html" %}

{% block content %}
  <img src="#" alt="Fotografia da equipa toda junta.">
  <p>
    A Universidade de Coimbra é uma instituição pública de Ensino Superior com séculos de experiência de ensino, prática e investigação. Fundada em 1290, foi a primeira Universidade a ser criada em Portugal, revolucionando a educação no nosso país. Ao longo do tempo, tem afirmado a sua posição única, unindo tradição, modernidade e inovação, o que resultou na sua classificação como Património Mundial da UNESCO em 2013.

Em 2018, um grupo de alunos das diferentes faculdades da Universidade de Coimbra decidiu embarcar na aventura que é criar um evento TEDx.  Inspirados pela tradição, mas também pela inovação, temos como objetivo fundir estes valores, usando essa fusão como base para este projeto. Consideramos que a associação da nossa Universidade a um evento desta magnitude, perante o apoio da Reitoria, constitui um passo essencial para o seu sucesso e permitir-nos-á honrar a interdisciplinaridade associada, não apenas aos eventos TEDx, mas também à nossa academia.
  </p>
{% endblock %}
