{% extends "base.html" %}
{% block content %}
<header id="team_home">
  <h3>Equipa</h3>
</header>

<section id="info">
  <div class="info">
    <p>“A Universidade de Coimbra é uma instituição pública de Ensino Superior com séculos de experiência de ensino, prática e investigação. Fundada em 1290, foi a primeira Universidade a ser criada em Portugal, revolucionando a educação no nosso país. Ao longo do tempo, tem afirmado a sua posição única, unindo tradição, modernidade e inovação, o que resultou na sua classificação como Património Mundial da UNESCO em 2013.</p>
    <p>Em 2018, um grupo de alunos das diferentes faculdades da Universidade de Coimbra decidiu embarcar na aventura que é criar um evento TEDx.  Inspirados pela tradição, mas também pela inovação, temos como objetivo fundir estes valores, usando essa fusão como base para este projeto. Consideramos que a associação da nossa Universidade a um evento desta magnitude, perante o apoio da Reitoria, constitui um passo essencial para o seu sucesso e permitir-nos-á honrar a interdisciplinaridade associada, não apenas aos eventos TEDx, mas também à nossa academia.”</p>
  </div>
</section>


<section id="members">
  <div class="container_members">
    <div class="member_1">
      <img src="{{url_for('static', filename='img/rabanea.png')}}" width="250" height="250">
      <h1>Joaquim 1</h1>
      <p>Estuda x na Faculdade x</p>
    </div>
    <div class="member_2">
      <img src="{{url_for('static', filename='img/rabanea.png')}}" width="250" height="250">
      <h1>Joaquim 2</h1>
      <p>Estuda y na Faculdade y</p>
    </div>
    <div class="member_3">
      <img src="{{url_for('static', filename='img/rabanea.png')}}" width="250" height="250">
      <h1>Joaquim 3</h1>
      <p>Estuda z na Faculdade z</p>
    </div>
  </div>
</section>
{% endblock %}
