{% extends "base.html" %}

{% block content %}
  <h1>Orators</h1>
  {%- for message in get_flashed_messages() %}
         {{ message }}
  {%- endfor %}
  {% for orator in orators %}
    <div class="" style="
          border: 1px solid black;
          margin: 2px 2px 2px 2px;
          padding-left: 5px;
          display: inline-block;
          width: 400px;
          height: 400px;
          ">
      <img src="{{ orator.photo }}" alt="Photo Unavaliable"></img>
      <h2>{{ orator.name }}</h2>
      <h3>{{ orator.job }}</h3>
      <p>Age: <b>{{orator.age}}</b></p>
      <p>{{orator.info}}</p>
    </div>
   {% endfor %}
   <p>Resolver esse problema de CSS.....</p>
{% endblock %}
